<div class="main-body">
    <div class="card">
        <div class="card-header">
            <a href="/post/{{id}}" class="links">{{title}}</a>
            <p id="comment-subtitle">Posted by: {{user.username}}</p>
        </div>
        <div class="card-body">
        <p>{{content}}</p>
        <a href="#" class="btn btn-primary">Leave a Comment!</a>
        </div>
    </div>
</div>


{{!-- <article class="post">
    <div class="whole-post">
        <div class="info-section">
            <div class="post-name">
                <a href="/post/{{id}}" class="links">{{title}}</a>
            </div>
            <div class="created-by">
                <p id="comment-subtitle">
                    Posted by <b>{{user.username}} </b> </b>
                </p>
            </div>
        </div>
        <div class="content-section">
            <p>{{content}}</p>
        </div>
    </div>
</article> --}}